body, .home {
  text-align: center;
  background-color: antiquewhite;
  font-family: 'Trebuchet MS', sans-serif;
}

h1, h2 {
  color: rgb(245, 100, 150);
}

h2 {
  text-align: justify;
}

.static {
  border-width: 8px;
  border-radius: 50px;
  border-style: dotted;
  border-color: black;
}   

p {
  line-height: 150%;
  font-size: 16px;
}

ul, ol {
  text-align: justify;
  list-style-position: inside;
  line-height: 150%;
  font-size: 20px;
  color: rgb(65, 144, 157);
}

a {
  color: rgb(163, 127, 255);
}

a:visited {
  color: blueviolet;
}